@import "../../scss/constant.scss";


.button-group {

    -fx-border-color: $border-color;
    -fx-border-width: 1;
    -fx-border-radius: 2;

    .button,
    .toggle-button,
    .menu-button,
    .split-menu-button {
	    -fx-background-insets:0;
	    -fx-background-radius:0;
	    -fx-effect:null;
    }

    .split-menu-button {
    	.label,.arrow-button {
    		@extend .button
    	}


    	.arrow-button {
    		-fx-border-color: $border-color;
    		-fx-border-width: 0 0 0 1;
    	}
    }

}


.horizontal-button-group {
	.button,
	.toggle-button,
	.menu-button,
	.split-menu-button {
	    -fx-border-color: $border-color;
	    -fx-border-width: 0 0 0 1;
	}

}


.vertical-button-group {
	
	.button,
	.toggle-button,
	.menu-button,
	.split-menu-button {
		-fx-border-color: $border-color;
	    -fx-border-width: 1 0 0 0;
	}

}


.button-group {
	
	.first {
    	-fx-border-width: 0;
	}
}